node_modules/
.vscode/
*.db
npm-debug.log
*.log
_site/
Gemfile.lock
.sass-cache/
.jekyll-metadata
.DS_Store
.jekyll-cache
https://www.tpsgc-pwgsc.gc.ca/app-acq/ma-bb/appagile-proagile-fra.html
https://www.tpsgc-pwgsc.gc.ca/app-acq/ma-bb/simpcont-simpcont-fra.html
https://www.tpsgc-pwgsc.gc.ca/app-acq/pme-sme/index-fra.html
https://www.tpsgc-pwgsc.gc.ca/app-acq/ma-bb/appagile-proagile-eng.html
https://www.tpsgc-pwgsc.gc.ca/app-acq/ma-bb/simpcont-simpcont-eng.html
https://www.tpsgc-pwgsc.gc.ca/app-acq/pme-sme/index-eng.html
https://canadiangovernmentexecutive.ca/dig/24_03/28/