<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ dropdown_title }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {%-assign pages=site.pages | where:"sections", {{dropdown_section}}-%}
        {%- for my_page in pages -%}
        {% if my_page.lang == page.lang %}
        <a class="dropdown-item" lang="{{ my_page.lang }}" hreflang="{{ my_page.lang }}"
            href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {%- endif -%}
        {%- endfor -%}
    </div>
</li>