{%- assign pages=site.pages | where:"ref", "archives" | sort: 'lang' -%}
{%- for my_page in pages -%}
  {% if my_page.lang == page.lang %}
    <div class="container">
      <p class="text-right">
        <a class="text-muted" target="_blank" href="https://github.com/sara-sabr/ITStrategy/tree/master/{{ page.path }}">{{ site.data.i18n.general.footer.viewOnGithub[page.lang] }}</a>
      </p>
    </div>
  {%- endif -%}
{%- endfor -%}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <ul class="list-inline">

      {%- assign pages=site.pages | where:"ref", "contact-us" | sort: 'lang' -%}
      {%- for my_page in pages -%}
        {% if my_page.lang == page.lang %}
          <li class="list-inline-item">
            <a class="text-muted" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.data.i18n.general.nav.pagesContact[my_page.lang] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}

      {%- assign pages=site.pages | where:"ref", "archives" | sort: 'lang' -%}
      {%- for my_page in pages -%}
        {% if my_page.lang == page.lang %}
          <li class="list-inline-item">
            <a class="text-muted" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.data.i18n.general.nav.pagesArchive[my_page.lang] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}

    </ul>
    <p>{{ site.data.i18n.general.footer.copyright[page.lang] }}</p>
  </div>
</footer>

{% include lang-select.html %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>

<!-- Font Awesome https://fontawesome.com/  https://use.fontawesome.com/releases/v5.11.2/js/all.js -->
<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>

<!-- DataTables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"
  integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
  integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

{%- if page.datatable-ids.size > 0 -%}
 <script src="assets/js/datatable.js"></script>
{%- endif -%}

<script>
  $("table").addClass("table");
  $("blockquote").addClass("blockquote");
  hljs.initHighlightingOnLoad();

  var divs = $("div div.highlight");
  var i;
  for (i = 0; i < divs.length; i++) {
    divs[i].setAttribute("tabindex", "0");
  }
</script>
