<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/markdown/markdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/notes/notes.js"></script>

<script>
  var params = new URLSearchParams(window.location.search);
  if (params.get("shownotes") !== null)
  {
	  Reveal.initialize({
		  pdfSeparateFragments: false,
		  showNotes: "separate-page",
		  plugins: [ RevealMarkdown, RevealNotes ]
	  });
  } else if (params.get("print-pdf") !== null) {
	  Reveal.initialize({
		  pdfSeparateFragments: false,
		  plugins: [ RevealMarkdown, RevealNotes ]
	  });
  } else {
  	Reveal.initialize({plugins: [ RevealMarkdown, RevealNotes ]});
  }
</script>
