<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reveal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/markdown/markdown.min.js"></script>

<script src="/ITStrategy/assets/js/notes.js"></script>

<script>
  var params = new URLSearchParams(window.location.search);
  if (params.get("shownotes") !== null)
  {
	  Reveal.initialize({
		  pdfSeparateFragments: false,
		  showNotes: "separate-page"
	  });
  } else if (params.get("print-pdf") !== null) {
	  Reveal.initialize({
		  pdfSeparateFragments: false
	  });
  } else {
  	Reveal.initialize();
  }
</script>
