<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% if page.lang == 'en' %}{{ site.baseurl }}/{{ site.index.en }}{% else %}{{ site.baseurl }}/{{ site.index.fr }}{% endif %}">{{ site.title[page.lang] }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu1" aria-controls="Menu1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Menu1">
      <ul class="navbar-nav mr-auto">
        <!-- Menu -->
      </ul>

      <!-- Language picker -->
      <ul class="navbar-nav float-right">      
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for my_post in posts %}
          {% if my_post.lang != page.lang %}
            <li class="nav-item"><a class="nav-link" lang="{{ my_post.lang }}" hreflang="{{ my_post.lang }}" href="{{ my_post.url | prepend: post.baseurl }}">{{ site.language[my_post.lang] }}</a></li>
          {% endif %}
        {% endfor %}  

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for my_page in pages %}
          {% if my_page.lang != page.lang %}
            <li class="nav-item"><a class="nav-link" lang="{{ my_page.lang }}" hreflang="{{ my_page.lang }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.language[my_page.lang] }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
<br/>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ site.title[page.lang] }}</h1>
    <h2>{{ site.subtitle[page.lang] }}</h2>
  </div>
</div>
