<head>
  {%- if page.lang -%}
  <title>{{ site.title[page.lang] }}</title>
  {%- endif -%}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.0.2/css/reveal.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.0.2/css/theme/moon.min.css">
  <link rel="icon" type="image/ico" href="/ITStrategy/assets/images/favicon.ico">

  <script>
    var link = document.createElement("link");
    link.rel = "stylesheet";
    link.type = "text/css";
    link.href = "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.0.2/css/print/pdf.min.css";
    if (window.location.search.match( /print-pdf/gi )) {
      document.getElementsByTagName("head")[0].appendChild( link );
    }
  </script>
</head>
