<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
    <a aria-label="Home" class="navbar-brand" href="{% if page.lang == 'en' %}{{ site.baseurl }}/{{ site.index.en }}{% else %}{{ site.baseurl }}/{{ site.index.fr }}{% endif %}"><span class="fas fa-home" aria-hidden="true"></span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu1" aria-controls="Menu1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

      <div class="collapse navbar-collapse" id="Menu1">
      <!-- Menu -->
      <ul class="navbar-nav ml-auto">
        <!--About Us - A propos de nous-->
        {%- assign dropdown_section=site.sectionsList[page.lang][0]-%}
        {%- assign dropdown_title=dropdown_section-%}
        {%- assign dropdown_id = "navbarDropdownAbout" -%}
        {% include dropdown.html %}

        <!--Our Strategies - Nos stratégies-->
        {%- assign dropdown_section=site.sectionsList[page.lang][1]-%}
        {%- assign dropdown_title=site.strategies[page.lang]-%}
        {%- assign dropdown_id = "navbarDropdownStrategies" -%}
        {% include dropdown.html %}

        {%- assign pages=site.pages | where:"ref", "documents" | sort: 'lang' -%}
        {%- for my_page in pages -%}
          {% if my_page.lang == page.lang %}
            <li class="nav-item"><a class="nav-link" lang="{{ my_page.lang }}" hreflang="{{ my_page.lang }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.docsTitle[my_page.lang] }}</a></li>
          {%- endif -%}
        {%- endfor -%}

        {%- assign pages=site.pages | where:"ref", "blog-posts" | sort: 'lang' -%}
        {%- for my_page in pages -%}
          {% if my_page.lang == page.lang %}
            <li class="nav-item"><a class="nav-link" lang="{{ my_page.lang }}" hreflang="{{ my_page.lang }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.blogPosts[my_page.lang] }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>

      <!-- Language picker -->
      <ul class="navbar-nav float-right">      
        {%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
        {%- for my_page in pages -%}
          {% if my_page.lang != page.lang %}
            <li class="nav-item lang-select-container" >
                <button href="{{ my_page.url | prepend: site.baseurl }}" class= "lang-select" onclick="selectLanguage(this)">
                  {{ site.language[my_page.lang] }}
                </button>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>  <!--Menu1-->
    </div> <!--container-->
  </nav>
</header>
