<script>
    function selectLanguage(e){  
      e = e || window.event;
      var src;
      if (! (e.target || e.srcElement) ){
        src = e
      }
      else{
        src = e.target || e.srcElement;
      }

      var selectedLanguage = src.innerText.trim()

    
      if (selectedLanguage === "{{ site.data.i18n.general.language.en }}"){
        localStorage.setItem(
          "language", "{{ site.data.i18n.general.language.en }}"
        )

        
        if (src.attributes.hasOwnProperty("href") && src.attributes.href.value !== ""){
            window.location.replace(
                src.attributes.href.value
            )
        }
        else {
            window.location.replace(
                "./{{ site.data.i18n.general.nav.index.en }}"
            )

        }
      }

      else if ( selectedLanguage === "{{ site.data.i18n.general.language.fr }}" ){
        localStorage.setItem(
          "language", "{{ site.data.i18n.general.language.fr }}"
        )

        if (src.attributes.hasOwnProperty("href") && src.attributes.href.value !== ""){
            window.location.replace(
                src.attributes.href.value
            )
        }
        else {
            window.location.replace(
                "./{{ site.data.i18n.general.nav.index.fr }}"
            )

        }
    
      }
    }  
</script>