<div>
    <p>
        Our documentation outlines what the future *should* look like, though a clear distinction need be drawn between will and should.
    </p>
    <p>
        As stated in [Digital Operations Strategic Plan: 2018-2022](https://www.canada.ca/en/government/system/digital-government/digital-operations-strategic-plan-2018-2022.html), one of the first three components listed is as follows 
        <q>
            A digital-first and digitally enabled government that is available anytime, anywhere, through any service window. This does not mean “digital only,” but it does mean that digital service delivery cannot be an afterthought and importantly, in-person and telephone interactions must be digitally enabled to deliver excellence in service.
        </q>
        IT has become increasingly important in allowing ESDC to effectively deliver on it's mandate and as such requires increased inward facing attention. In the modern information technology ecosystem failing to continually increase the rate at which IT is able to deliver services is paramount to becoming less effecient every year. For example ... 
    </p>

    <div>
        <h2>High Performers</h2>    
        <table>
            <tr>
                <th>Year</th>
                <th>Average number of deployments</th>
            </tr>
            <tr>
                <td>2016</td>    
                <td>1 460</td>
            </tr>
            <tr>
                <td>2017</td>    
                <td>1 460</td>
            </tr>
            <tr>
                <td>2018</td>    
                <td>1 460</td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Low Performers</h2>
        <table>
            <tr>
                <th>Year</th>
                <th>Average number of deployments</th>
            </tr>
            <tr>
                <td>2016</td>    
                <td>7</td>
            </tr>
            <tr>
                <td>2017</td>    
                <td>32</td>
            </tr>
            <tr>
                <td>2018</td>    
                <td>32</td>
            </tr>
        </table>
    </div>
    <p>
        Sources: [DORA State of DevOps Report](https://puppet.com/resources/whitepaper)
    </p>
    <div>
        <h2>ESDC</h2>
        <table>
            <tr>
                <th>Year</th>
                <th>Average number of deployments</th>
            </tr>
            <tr>
                <td>2016</td>    
                <td></td>
            </tr>
            <tr>
                <td>2017</td>    
                <td></td>
            </tr>
            <tr>
                <td>2018</td>    
                <td></td>
            </tr>
        </table>
    </div>
    <p>
        While the Government of Canada has made great strides in the past few years with initiatives such as the Open API Store, in order to keep pace with customers expectations of digital services, we must focus on modernizing the way we work to enable ourselves to be most responsive to our business partners within ESDC to assist them with better delivering on ESDCS important mandate. For example, Jeff Bezos made his famous mandate statement in 2002, among other things, that 
        <q>
            <li>
                <ol>
                    All teams will henceforth expose their data and functionality
                    through service interfaces.                
                </ol>
                <ol>
                    Teams must communicate with each other through these
                    interfaces.                        
                </ol>
                <ol>
                    There will be no other form of interprocess communication
                    allowed: no direct linking, no direct reads of another team's data
                    store, no shared-memory model, no back-doors whatsoever. The
                    only communication allowed is via service interface calls over the
                    network.
                </ol>
                <ol>...</ol>
                <ol>
                    All service interfaces, without exception, must be designed from
                    the ground up to be externalizable. That is to say, the team must
                    plan and design to be able to expose the interface to developers
                    in the outside world. No exceptions.
                </ol>
            </li>
        </q>
        Government need not focus on being or competing with world leading technology companies. Though the path outlining how to build successful IT systems has been set and we must follow the established industry best practices if we are to meet the expectations of our citizens. 
    </p>

    <p>
        In conclusion, the following documents outlining where IITB should be in 5 years will only be achievable if IITB aggressively adopts modern IT best practices and puts a strong emphasis on increasing the rate at which it is able to deliver services to enable business to deliver on ESDCs mandate.
    </p>

</div>