{%- assign table = site.data.tables.build-vs-buy[0] -%}
{%- assign colNumber = table.dimensions.columns | minus: 1 -%}
{%- assign rowNumber = table.dimensions.rows | minus: 1-%}
{%- assign hrowNumber = table.dimensions.hrows | minus: 1-%}
{%- assign rowStart = table.dimensions.hrowNumber -%}

<p>Number of columns: {{hrowNumber}}</p>

<table class="display">
  {% if table.dimensions.hrows > 0 %}
  <thead>
    {%for i in (0..hrowNumber) %}
    <tr>
      {% for j in (0..colNumber) %}
      <th>
        {{ table.rows[i].cols[j].data.[page.lang]}}
      </th>
      {% endfor %}
    </tr>
    {% endfor %}
  </thead>
  {% endif %}
  <tbody>
    {% for row in table.rows | where: "headers", false %}
    <tr aria-rowspan="{{row.rowspan}}">
      {% for col in row.cols %}
      <td>{{col.data[page.lang]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>