
{%- assign table = site.data.tables.build-vs-buy[0] -%}
{%- assign headerRows = table.rows | where: "headers", true -%}
{%- assign dataRows = table.rows | where: "headers", false -%}

<table class="display">
  {% if headerRows %}
  <thead>
    {%for row in headerRows %}
    <tr>
      {% for col in row.cols %}
      <th>
         {{ col.data.[page.lang]}}
      </th>
      {% endfor %}
    </tr>
    {% endfor %}
  </thead>
  {% endif %}
  <tbody>
    {% for row in dataRows %}
    <tr>
      {% for col in row.cols %}
      {%- if col.rowspan != null -%}
      {%- assign rowspanValue = {{col.rowspan}} -%}
      {%- else-%}
      {%- assign rowspanValue = 1 -%}
      {%- endif-%}
      {%- if col.colspan != null -%}
      {%- assign colspanValue = {{col.colspan}} -%}
      {%- else-%}
      {%- assign colspanValue = 1 -%}
      {%- endif-%}
      <td rowspan="{{rowspanValue}}" colspan="{{colspanValue}}">
        {% if col.data.list == true %}
        {%- assign items = col.data.items -%}
        <ul>
          {% for entry in items %}
          <li class="table-list">{{entry.item[page.lang]}}</li>
          {%- endfor %}
        </ul>
        {% else %}
        {{ col.data.[page.lang]}}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>