/* Header */

.jumbotron {
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 0;
}

.blockquote {
  background-color: #e9ecef;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
}

body>.container {
  padding: 60px 10px 0;
}
/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
  padding: env(safe-area-inset);
}

/*-- Prevent Horizontal Scrolling & Font Style --*/
html,
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.text-splash {
  color: #1EBBA3;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  content: "";
  height: 4rem;
  display: block;
  margin-top: -4rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 2rem;
}

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: .9rem;
  transition: background-color .5s ease;
  border-bottom: 2px solid #e9ecef;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #1EBBA3;
}

.dropdown .dropdown-toggle {
  color: #545454 !important;
}

li:first-child .dropdown-menu {
  min-width: 250px;
}

/* Title */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

/* Footer */
/* Sticky footer styles - https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body>.container {
  padding: 60px 15px 0;
}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.content {
  position: absolute;
  top: 55px;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
}

/*Blockquotes*/
/*Adapted from: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote */
blockquote {
  margin: 0;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

.blockquote {
  font-size: 1rem;
}