<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang }}" dir="ltr">

  {% include head.html %}

  <body vocab="http://schema.org/" typeof="WebPage">

    {% include header.html %}
   
    <main role="main" class="container">
      <section class="jumbotron d-print-none">
        <h1 class="display-3">{{ site.title[page.lang] }}</h1>
        <h2>{{ site.subtitle[page.lang] }}</h2>
      </section>
      {% if page.layout == "default"%}
        {% include versioning.md %}
      {% endif %}
      
          {{ content }}
      

        {% include notice.html %}    
      </main>
    
    {% include lang-select.html %}
    {% include footer.html %}



  </body>

</html>
