---
layout: default
---
{%if page.lang == "en"%}
    <p>{{ page.date | date: "%Y-%m-%d" }} - Written by {{ page.author }}</p>
{% else %}
    <p>{{ page.date | date: "%Y-%m-%d" }} - Écrit par {{ page.author }}</p>
{% endif %}

{% if page.data != page.last_modified %}
    {%if page.lang == "en"%}
        <p class="font-italic">Last modified: {{ page.last_modified | date: "%Y-%m-%d"}}</p>
    {% else %}
        <p class="font-italic">Dernière modification: {{ page.last_modified | date: "%Y-%m-%d"}}</p>
    {% endif %}
{% endif %}

{{ content }}