<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

  {% include head.html %}

  <body vocab="http://schema.org/" typeof="WebPage">

    <!-- Start Landing Page Image -->
    <div class="landing">
      <div class="home-wrap">
        <div class="home-inner"></div>
      </div>
    </div>
    <!-- End Landing Page Image -->
    <main class="caption">
      {{ content }}
    </main>

    {% include lang-select.html %}
    
    <script>
    (function(){
      // get language setting from localstorage if it exists
      var localStorageLang = localStorage.getItem("language")
      if (localStorageLang && localStorageLang === "{{ site.language.en }}"){
        window.location.replace(
          "./{{ site.index.en }}"
        )
      }
      else if (localStorageLang && localStorageLang === "{{ site.language.fr }}"){
        window.location.replace(
          "./{{ site.index.fr }}"
        )
      }
  
      console.log("No langauge found")
    })();
    </script>
  </body>
</html>
